body {
  background-color: rgb(104,187,285);
  font-family: georgia, arial, sans-serif;
  margin: 100px;
}

header {
  text-align: center;
  border: solid 1px rgb(130,130,130);
  box-shadow: 1px 1px 2px rgb(180,180,180);
  border-radius: 4px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.1em;
  text-decoration: underline;
  padding-left: 20px;
}

h3 {
  font-size: 1em;
  font-style: italic;
}

/*left-box*/
#left-box {
  float: left;
  width: 20%;
  height: 720px;
  word-wrap: break-word;
  background-color: rgb(9,30,45);
  border-radius: 4px;
  border: solid 1px rgb(130,130,130);
  box-shadow: 1px 1px 2px rgb(180,180,180);
  color: #FFF;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: 20px;
  margin-bottom: 40px;
}

#left-box p {
  padding: 10px 0px 15px 20px;
}

.photo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 4px;
  border: solid 1px #FFF;
  box-shadow: 1px 1px 2px rgb(180,180,180);
}

/*liste info*/
li {
  margin-top: 6px;
}

li.phone {
  list-style-image: url("img/phone.png");
}

li.mail {
  list-style-image: url("img/mail.png");
}

li.home {
  list-style-image: url("img/home.png");
}

/*liste langue*/
li.lang1 {
  list-style-image: url("img/battery3.png");
}

li.lang2 {
  list-style-image: url("img/battery2.png");
}

li.lang3 {
  list-style-image: url("img/battery1.png");
}

/*liste loisirs*/
.loisirs li {
  list-style-image: url("img/star.png");
}

/*right-box*/
#right-box {
  margin-left: 310px;
}

#experiences-box, #studies-box {
  background-color: #FFF;
  border-radius: 4px;
  border: solid 1px rgb(130,130,130);
  box-shadow: 1px 1px 2px rgb(180,180,180);
}

.experience, .study {
  margin-left: 20px;
}

.experience p, .study p {
  margin-left: 10px;
}

#studies-box {
  margin-top: 20px;
}

/*footer*/
footer {
  clear: left;
  border-radius: 4px;
  border: solid 1px rgb(130,130,130);
  box-shadow: 1px 1px 2px rgb(180,180,180);
}

footer p {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}
